[
	Layer(
		buttons: [
			// Row 1
			Key(F),
			Key(G),
			Key(C),
			Key(R),
			Key(L),

			// Row 2
			Key(D),
			Key(H),
			Key(T),
			Key(N),
			Key(S),

			// Row 3
			Key(B),
			Key(M),
			Key(W),
			Key(V),
			Key(Z),

			// Thumbpad
			PrevLayer,
			Mod(RAlt),
			Mod(RMod),
		],
	)
]
