[
	Layer(
		buttons: [
			// Row 1
			Key(F),
			Key(G),
			Key(C),
			Key(R),
			Key(L),

			// Row 2
			Key(D),
			ModTap(H, RCtrl),
			ModTap(T, RShift),
			ModTap(N, RAlt),
			ModTap(S, RMod),

			// Row 3
			Key(B),
			Key(M),
			Key(W),
			Key(V),
			Key(Z),

			// Thumbpad
			PrevLayer,
			Key(Return),
			Key(Delete),
		],
	),
	Layer(
		buttons: [
			// Row 1
			None,
			Key(D7),
			Key(D8),
			Key(D9),
			Key(PrintScreen),

			// Row 2
			Key(D0),
			ModTap(D4, RCtrl),
			ModTap(D5, RShift),
			ModTap(D6, RAlt),
			//ModTap(, RMod),
			Mod(RMod),

			// Row 3
			None,
			Key(D1),
			Key(D2),
			Key(D3),
			None,

			// Thumbpad
			PrevLayer,
			Key(Return),
			Key(Delete),
		],
	),
	Layer(
		buttons: [
			// Row 1
			None,
			None,
			None,
			None,
			None,

			// Row 2
			None,
			Mod(RCtrl),
			Mod(RShift),
			Mod(RAlt),
			Mod(RMod),

			// Row 3
			None,
			None,
			None,
			None,
			None,

			// Thumbpad
			PrevLayer,
			Key(Return),
			Key(Delete),
		],
	),
]
