[
	Layer(
		buttons: [
			// Row 1
			Key(Apostrophe),
			Key(Comma),
			Key(Period),
			Key(P),
			Key(Y),

			// Row 2
			Key(A),
			Key(O),
			Key(E),
			Key(U),
			Key(I),

			// Row 3
			Key(Colon),
			Key(Q),
			Key(J),
			Key(K),
			Key(X),

			// Thumbpad
			Mod(LShift),
			Mod(LCtrl),
			NextLayer,
		],
	)
]
