Layer(
	buttons: [
		Key(A),
		Key(B),
		Key(C),
		Key(D),
		Key(E),

		Key(F),
		Key(G),
		Key(H),
		Key(I),
		Key(J),

		Key(K),
		Key(L),
		Key(M),
		Key(N),
		ModTap(O, LMod),

		Mod(LShift),
		Mod(LCtrl),
		Layer(Peek, Up, 1),
	],
)
