[
	[
		Layer(
			buttons: [
				// Row 1
				Key(F),
				Key(G),
				Key(C),
				Key(R),
				Key(L),

				// Row 2
				Key(D),
				ModTap(H, RCtrl),
				ModTap(T, RShift),
				ModTap(N, RMod),
				ModTap(S, RAlt),

				// Row 3
				Key(B),
				Key(M),
				Key(W),
				Key(V),
				Key(Z),

				// Thumbpad
				Layer(Peek, Right, 1),
				Key(Return),
				Key(Delete),
			],
		),
		Layer(
			buttons: [
				// Row 1
				Compose2(Lower, O, Variable, A), // å
				Key(D7),
				Key(D8),
				Key(D9),
				Key(D0),

				// Row 2
				Compose2(Lower, Apostrophe, Variable, A), // ä
				ModTap(D4, RCtrl),
				ModTap(D5, RShift),
				ModTap(D6, RMod),
				//ModTap(, RAlt),
				Mod(RAlt),

				// Row 3
				Compose2(Lower, Apostrophe, Variable, O), // ö
				Key(D1),
				Key(D2),
				Key(D3),
				None,

				// Thumbpad
				Layer(Peek, Right, 1),
				Key(Return),
				Key(Delete),
			],
		),
		Layer(
			buttons: [
				// Row 1
				Key(F1),
				Key(F4),
				Key(F7),
				Key(F10),
				Layer(Move, Down, 1),

				// Row 2
				Key(F2),
				ModTap(F5, RCtrl),
				ModTap(F8, RShift),
				ModTap(F11, RMod),
				Mod(RAlt),

				// Row 3
				Key(F3),
				Key(F6),
				Key(F9),
				Key(F12),
				None,

				// Thumbpad
				Layer(Peek, Right, 1),
				Key(Return),
				Key(Delete),
			],
		),
	],
	[ // gaming row
		Layer(
			buttons: [
				// Row 1
				Key(Y),
				Key(U),
				Key(I),
				Key(O),
				Key(P),

				// Row 2
				Key(H),
				Key(J),
				Key(K),
				Key(L),
				Key(G),

				// Row 3
				Key(B),
				Key(N),
				Key(M),
				Key(Comma),
				Key(Period),

				// Thumbpad
				Layer(Peek, Right, 1),
				Key(Return),
				Key(Delete),
			],
		),
		Layer(
			buttons: [
				// Row 1
				None,
				None,
				Key(CapsLock),
				Key(Tab),
				None,

				// Row 2
				None,
				None,
				None,
				None,
				None,

				// Row 3
				None,
				None,
				None,
				None,
				None,

				// Thumbpad
				Layer(Peek, Right, 1),
				Key(Return),
				Key(Delete),
			],
		),
		Layer(
			buttons: [
				// Row 1
				None,
				None,
				None,
				None,
				Layer(Move, Up, 1),

				// Row 2
				None,
				None,
				None,
				None,
				None,

				// Row 3
				None,
				None,
				None,
				None,
				None,

				// Thumbpad
				Layer(Peek, Right, 1),
				Key(Return),
				Key(Delete),
			],
		),
	],
]
